flask
flask_sqlalchemy
flask_cors
flask_bcrypt
flask_jwt_extended
sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-core
pdfplumber
requests
beautifulsoup4
python-dotenv
flask
flask_sqlalchemy
flask_cors
flask_bcrypt
flask_jwt_extended
sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-google-genai
google-generativeai
pdfplumber
python-docx
requests
beautifulsoup4
python-dotenv
 